@page "/settings"
@using BlazorBootstrap
@using System.Diagnostics
@using WarnoModeAutomation.Components.Components
@using WarnoModeAutomation.Constants
@using WarnoModeAutomation.Logic
@using JsonDatabase.DTO

<section class="p-3">

    <h4 class="fw-bold">Warno mod settings</h4>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Warno modes directory:</span>
        </div>
        <input @bind="Storage.ModeSettings.ModsDirectory" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Mode name:</span>
        </div>
        <input @bind="Storage.ModeSettings.ModName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <h5 class="text-center">
        Balance settings <i style="font-size: 18px !important;" class="bi bi-bar-chart fs-3 text-primary"></i>
    </h5>
    <hr />

    <ModSettingSection PropertyName="@nameof(_settingsDTO.WarnoMetters)" TValue="int" @bind-PropertyValue="_settingsDTO.WarnoMetters">
        <p class="text-muted mb-0">
            The constant value which determinants distance measuring. Has been defined experimental way when we took value from UI and from resource files and compare it. 
            Strongly recommended to leave as is.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NerfDistanceCoefficientDivider)" TValue="double" @bind-PropertyValue="_settingsDTO.NerfDistanceCoefficientDivider">
        <p class="text-muted mb-0">
            There is a special formula which will update distance value. The more is a difference between original and new distance value the more this new value will be reduced in order to save game balance.
            The more this value the longer new attack distance value will set.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.AdditionalPointsCoefficientMultiplier)" TValue="double" @bind-PropertyValue="_settingsDTO.AdditionalPointsCoefficientMultiplier">
        <p class="text-muted mb-0">
            This coefficient is a multiplier value for the added ammunition accuracy value. <br>
            The higher this value, the more production points will be added to a unit's cost, based on the sum of increased unit ammunition accuracy.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.AdditionalPointsArtileryCoefficientDivider)" TValue="double" @bind-PropertyValue="_settingsDTO.AdditionalPointsArtileryCoefficientDivider">
        <p class="text-muted mb-0">
            This value is used to divide points for added accuracy for artillery. <br>
            The higher this value, the fewer production points will be added to the artillery unit cost.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoCommonAccuracityBonusPercentage)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoCommonAccuracityBonusPercentage">
        <p class="text-muted mb-0">
            This value represents a percentage by which accuracy for NATO will be increased. <br>
            The higher this value, the more accurate NATO ammunition will be overall, but it will also increase the cost of the unit.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoArtileryAccuracityBonusPercentage)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoArtileryAccuracityBonusPercentage">
        <p class="text-muted mb-0">
            This value represents a percentage by which accuracy for NATO Artilery will be increased.<br>
            The higher this value, the more accurate NATO Artilery ammunition will be overall, but it will also increase the cost of the unit.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.SovMinOpticalStrength)" TValue="int" @bind-PropertyValue="_settingsDTO.SovMinOpticalStrength">
        <p class="text-muted mb-0">Minimum optical streight of Soviet units.</p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoMinOpticalStrength)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoMinOpticalStrength">
        <p class="text-muted mb-0">Minimum optical streight of Nato units.</p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.SovGroundVisionPercentageFromAmunitionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.SovGroundVisionPercentageFromAmunitionDistance">
        <p class="text-muted mb-0">
            This value is a percentage of the unit's ammunition distance that will be subtracted from the unit's vision. <br>
            The higher this value, the shorter the unit's vision distance will be but not less than MinVisionDistance.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoGroundVisionPercentageFromAmunitionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoGroundVisionPercentageFromAmunitionDistance">
        <p class="text-muted mb-0">
            This value is a percentage of the unit's ammunition distance that will be subtracted from the unit's vision.<br>
            The higher this value, the shorter the unit's vision distance will be but not less than MinVisionDistance.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.SovTBAVisionPercentageFromAmunitionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.SovTBAVisionPercentageFromAmunitionDistance">
        <p class="text-muted mb-0">
            This value is a percentage of the unit's ammunition distance that will be subtracted from the unit's vision.<br>
            The higher this value, the shorter the unit's vision distance will be but not less than MinVisionDistance.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoTBAVisionPercentageFromAmunitionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoTBAVisionPercentageFromAmunitionDistance">
        <p class="text-muted mb-0">
            This value is a percentage of the unit's ammunition distance that will be subtracted from the unit's vision.<br>
            The higher this value, the shorter the unit's vision distance will be but not less than MinVisionDistance.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.SovHAVisionPercentageFromAmunitionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.SovHAVisionPercentageFromAmunitionDistance">
        <p class="text-muted mb-0">
            This value is a percentage of the unit's ammunition distance that will be subtracted from the unit's vision.<br>
            The higher this value, the shorter the unit's vision distance will be but not less than MinVisionDistance.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoHAVisionPercentageFromAmunitionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoHAVisionPercentageFromAmunitionDistance">
        <p class="text-muted mb-0">
            This value is a percentage of the unit's ammunition distance that will be subtracted from the unit's vision.<br>
            The higher this value, the shorter the unit's vision distance will be but not less than MinVisionDistance.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.SovMinVisionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.SovMinVisionDistance">
        <p class="text-muted mb-0">When unit vision is calculated this value will be used as minimum threshold.</p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.NatoMinVisionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.NatoMinVisionDistance">
        <p class="text-muted mb-0">When unit vision is calculated this value will be used as maximum threshold.</p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.TBAAndHADetectionPercentageFromVisionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.TBAAndHADetectionPercentageFromVisionDistance">
        <p class="text-muted mb-0">
            Detection is a process in which a unit can be precisely identified. This value represents a percentage of the unit's vision. <br>
            This percentage will be subtracted from the unit's vision, and the resulting value will be used as the detection distance for helicopters and planes.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.GroudDetectionPercentageFromVisionDistance)" TValue="int" @bind-PropertyValue="_settingsDTO.GroudDetectionPercentageFromVisionDistance">
        <p class="text-muted mb-0">
            Detection is a process in which a unit can be precisely identified. This value represents a percentage of the unit's vision.<br>
            This percentage will be subtracted from the unit's vision, and the resulting value will be used as the detection distance for ground units.
        </p>
    </ModSettingSection>

    <ModSettingSection PropertyName="@nameof(_settingsDTO.ArtileryDamagePercentage)" TValue="int" @bind-PropertyValue="_settingsDTO.ArtileryDamagePercentage">
        <p class="text-muted mb-0">This value is a percentage by which all artillery damage will be increased.</p>
    </ModSettingSection>

    <h5 class="text-center">Serialization settings <i style="font-size: 18px !important;" class="bi bi-bounding-box fs-3 text-primary"></i></h5>
    <hr />

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.ConfigFileName):</span>
        <input class="form-control" @bind="_settingsDTO.ConfigFileName" Placeholder="Enter ConfigFileName" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.BuildingDescriptorsFileName):</span>
        <input class="form-control" @bind="_settingsDTO.BuildingDescriptorsFileName" Placeholder="Enter BuildingDescriptorsFileName" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.UniteDescriptorFileName):</span>
        <input class="form-control" @bind="_settingsDTO.UniteDescriptorFileName" Placeholder="Enter UniteDescriptorFileName" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.WeaponDescriptorDescriptorsFileName):</span>
        <input class="form-control" @bind="_settingsDTO.WeaponDescriptorDescriptorsFileName" Placeholder="Enter WeaponDescriptorDescriptorsFileName" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.AmmunitionDescriptorsFileName):</span>
        <input class="form-control" @bind="_settingsDTO.AmmunitionDescriptorsFileName" Placeholder="Enter AmmunitionDescriptorsFileName" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.AmmunitionMissilesDescriptorsFileName):</span>
        <input class="form-control" @bind="_settingsDTO.AmmunitionMissilesDescriptorsFileName" Placeholder="Enter AmmunitionMissilesDescriptorsFileName" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.ResourceCommandPoints):</span>
        <input class="form-control" @bind="_settingsDTO.ResourceCommandPoints" Placeholder="Enter ResourceCommandPoints" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.AmunitionNameSMOKEMarker):</span>
        <input class="form-control" @bind="_settingsDTO.AmunitionNameSMOKEMarker" Placeholder="Enter AmunitionNameSMOKEMarker" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.InfanterieTag):</span>
        <input class="form-control" @bind="_settingsDTO.InfanterieTag" Placeholder="Enter InfanterieTag" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.Canon_AA_StandardTag):</span>
        <input class="form-control" @bind="_settingsDTO.Canon_AA_StandardTag" Placeholder="Enter Canon_AA_StandardTag" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.Canon_AATag):</span>
        <input class="form-control" @bind="_settingsDTO.Canon_AATag" Placeholder="Enter Canon_AATag" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.AirTag):</span>
        <input class="form-control" @bind="_settingsDTO.AirTag" Placeholder="Enter AirTag" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.Weapon_Cursor_MachineGun):</span>
        <input class="form-control" @bind="_settingsDTO.Weapon_Cursor_MachineGun" Placeholder="Enter Weapon_Cursor_MachineGun" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.ArtillerieTag):</span>
        <input class="form-control" @bind="_settingsDTO.ArtillerieTag" Placeholder="Enter ArtillerieTag" />
    </div>

    <div class="mb-3 d-flex align-items-center">
        <span class="input-group-text">@nameof(_settingsDTO.ArtileryWeaponCursorType):</span>
        <input class="form-control" @bind="_settingsDTO.ArtileryWeaponCursorType" Placeholder="Enter ArtileryWeaponCursorType" />
    </div>

    <div class="d-flex justify-content-end">

        <Button Loading="@(_currentOperation == OperationType.Save)" LoadingText="Saving..." Disabled="@(_currentOperation != OperationType.Idle)" Class="btn btn-primary me-3" @onclick="Save">
            <i class="bi bi-save"></i>
            Save
        </Button>

        <Button Loading="@(_currentOperation == OperationType.RestoreDefaults)" LoadingText="Restoring defaults..." Disabled="@(_currentOperation != OperationType.Idle)" Class="btn btn-danger" @onclick="RestoreDefaults">
            <i class="bi bi-body-text"></i>
            Restore defaults
        </Button>

    </div>

</section>
@code
{
    private enum OperationType
    {
        Idle,
        Save,
        RestoreDefaults
    }

    private OperationType _currentOperation;

    private SettingsDTO _settingsDTO = JsonDatabase.JsonDatabase.LoadSettings();

    private async Task Save()
    {
        _currentOperation = OperationType.Save;

        await JsonDatabase.JsonDatabase.SaveSettings(_settingsDTO);

        _settingsDTO = JsonDatabase.JsonDatabase.LoadSettings();

        ModManager.LoadSettings();

        _currentOperation = OperationType.Idle;
    }

    private void RestoreDefaults() 
    {
        _currentOperation = OperationType.RestoreDefaults;

        _settingsDTO = new SettingsDTO(
            Storage.ModeSettings.ModsDirectory,
            Storage.ModeSettings.ModName,
            WarnoConstants.WarnoMetters,
            WarnoConstants.NerfDistanceCoefficientDivider,
            WarnoConstants.AdditionalPointsCoefficientMultiplier,
            WarnoConstants.AdditionalPointsArtileryCoefficientDivider,
            WarnoConstants.NatoCommonAccuracityBonusPercentage,
            WarnoConstants.NatoArtileryAccuracityBonusPercentage,
            WarnoConstants.SovMinOpticalStrength,
            WarnoConstants.NatoMinOpticalStrength,
            WarnoConstants.SovGroundVisionPercentageFromAmunitionDistance,
            WarnoConstants.NatoGroundVisionPercentageFromAmunitionDistance,
            WarnoConstants.SovTBAVisionPercentageFromAmunitionDistance,
            WarnoConstants.NatoTBAVisionPercentageFromAmunitionDistance,
            WarnoConstants.SovHAVisionPercentageFromAmunitionDistance,
            WarnoConstants.NatoHAVisionPercentageFromAmunitionDistance,
            WarnoConstants.SovMinVisionDistance,
            WarnoConstants.NatoMinVisionDistance,
            WarnoConstants.TBAAndHADetectionPercentageFromVisionDistance,
            WarnoConstants.GroudDetectionPercentageFromVisionDistance,
            WarnoConstants.ArtileryDamagePercentage,
            WarnoConstants.ConfigFileName,
            WarnoConstants.BuildingDescriptorsFileName,
            WarnoConstants.UniteDescriptorFileName,
            WarnoConstants.WeaponDescriptorDescriptorsFileName,
            WarnoConstants.AmmunitionDescriptorsFileName,
            WarnoConstants.AmmunitionMissilesDescriptorsFileName,
            WarnoConstants.ResourceCommandPoints,
            WarnoConstants.AmunitionNameSMOKEMarker,
            WarnoConstants.InfanterieTag,
            WarnoConstants.Canon_AA_StandardTag,
            WarnoConstants.Canon_AATag,
            WarnoConstants.AirTag,
            WarnoConstants.Weapon_Cursor_MachineGun,
            WarnoConstants.ArtillerieTag,
            WarnoConstants.ArtileryWeaponCursorType
        );

        _currentOperation = OperationType.Idle;
    }
}